<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        input[type=text],input[type=password],input[type=email]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

  </style>
</head>
<body>
<h1 style="text-align:center;">Login Page</h1>
<form action="login" method="POST">
     {% csrf_token %}
     <label>Name</label><br>
     <input type="text" username="username" placeholder="Enter name" ><br>
     <label>Password</label><br>
     <input type="password" name="password" placeholder="Enter password"><br>

    <button type="login">LOGIN</button>
</form>
</body>
</html>